This script reads in tables and writes out a file containing tables formated in Latex style for easy copy paste into Latex script

In [31]:
# table with population
# table with population and coordinates
# table with venues
# full input table for running the function

In [32]:
import pandas as pd

In [33]:
pop_data = pd.read_excel('table08_clean.xlsx')
pop_data.head()

                   City  Population Size  Country
0                 Adrar         200834.0  Algeria
1             Ain Defla         450280.0  Algeria
2        Ain Temouchent         299341.0  Algeria
3  ALGIERS (EL DJAZAIR)        2712944.0  Algeria
4                Annaba         442230.0  Algeria

In [34]:
pop_coordinates = pd.read_excel('population_table.xlsx')
pop_coordinates.drop(['Unnamed: 0'], axis = 1, inplace = True)
pop_coordinates.head()

,City,Population Size,Country,Latitude,Longitude,population_bin
0,Adrar,200834.0,Algeria,27.945887,-0.199294,1
1,Ain Defla,450280.0,Algeria,36.158684,2.084282,1
2,Ain Temouchent,299341.0,Algeria,35.266657,-1.149928,1
3,ALGIERS (EL DJAZAIR),2712944.0,Algeria,36.775361,3.060188,3
4,Annaba,442230.0,Algeria,36.898216,7.754927,1

In [35]:
venues = pd.read_excel('city_venues.xlsx')
venues.drop(['Unnamed: 0'], axis = 1, inplace = True)
venues.head()

,City,City Latitude,City Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Adrar,27.945887,-0.199294,NaN,NaN,NaN,NaN
1,Ain Defla,36.158684,2.084282,NaN,NaN,NaN,NaN
2,Ain Temouchent,35.266657,-1.149928,Fast food Le Loft,35.294999,-1.137600,Fast Food Restaurant
3,ALGIERS (EL DJAZAIR),36.775361,3.060188,Restaurant Le Thyrolien,36.775188,3.058731,BBQ Joint
4,ALGIERS (EL DJAZAIR),36.775361,3.060188,CARACOYA,36.766672,3.053610,French Restaurant

In [36]:
one_hot = pd.read_excel('population_venue_data.xlsx')
one_hot.drop(['Unnamed: 0'], axis = 1, inplace = True)
one_hot.head()
one_hot.shape

(2343, 758)

In [37]:
one_hot.iloc[:,[0,1,2,3,4,5,6, 254 ,757]].head()

,City,Population Size,Country,Latitude,Longitude,population_bin,ATM,Fast Food Restaurant,Zoo Exhibit
0,Ain Temouchent,299341.0,Algeria,35.266657,-1.149928,1,0,1,0
1,ALGIERS (EL DJAZAIR),2712944.0,Algeria,36.775361,3.060188,3,0,0,0
2,Annaba,442230.0,Algeria,36.898216,7.754927,1,0,0,0
3,Bejaïa,559981.0,Algeria,36.751178,5.064369,2,0,0,0
4,Bordj Bou Arreridj,422986.0,Algeria,36.095506,4.661100,1,0,0,0

In [38]:
# write tables
# column separater = &

pop_data.to_csv('tables/pop_data.txt', sep = '&', index = False)
pop_coordinates.to_csv('tables/pop_coordinates.txt', sep = '&', index = False)
venues.to_csv('tables/venues.txt', sep = '&', index = False)
one_hot.iloc[:,[0,1,2,3,4,5,6, 254 ,757]].to_csv('tables/one_hot.txt', sep = '&', index = False)